<div class="card pt-2 px-2 mb-4">
    <div class="card-body">
        <h5 class="card-title"><a href="/reviews/{{this._id}}" class="text-reset">{{review.title}}</a></h5>
        <h6 class="card-subtitle mb-4 font-weight-bolder">{{review.rating}} / 5</h6>
        <div class="card-text">
            <div style="max-height: 50vh; overflow-y: scroll">
                <blockquote style="white-space: pre-line">{{review.description}}</blockquote>
            </div>
        <!-- Buttons -->
        <form class="mt-3" align="right" method="POST" action="/reviews/{{review._id}}?_method=DELETE">
            <a href="/reviews/{{this._id}}" class="btn btn-link">View</a>
            <button class="btn btn-link" type="submit">Delete</button>
        </form>
    </div>
</div>
</div>