<!-- views/partials/review.handlebars -->

<!-- Review -->
<a href="/reviews/{{review._id}}"><h3>{{review.title}}</h3></a>
<h6>{{review.movieTitle}}</h6>
<b>{{review.rating}} / 5</b>
<p style="
    white-space: pre-line;
    padding-top: 3px;
    padding-bottom: 5px">
    {{review.description}}
</p>

<!-- Buttons -->
<p>
    <form align="right" method="POST" action="/reviews/{{review._id}}?_method=DELETE">
        <a href="/reviews/{{review._id}}/edit" class="btn btn-link">Edit</a>
        <button class="btn btn-link" type="submit">Delete</button>
    </form>
</p>

