<div class="container">
    <div class="row">
        <div class="col-md-6 order-md-2">
            <h2 class="display-5">{{movie.title}}</h2>
            {{> badges genres=movie.genres rating=movie.vote_average}}
            <p class="lead">{{movie.overview}}</p>
        </div>
        <div class="col-md-6 order-md-1 no-gutters text-center">
            <img class="img-fluid" src="https://image.tmdb.org/t/p/w780{{movie.poster_path}}"/>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-12">
            <h4 class="my-3">Trailer</h4>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{movie.trailer_youtube_id}}?rel=0"></iframe>
            </div>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-sm-12">
            <hr>
            <div class="d-flex flex-row">
                <h4>Reviews</h4>
                <a href="/movies/{{movie.id}}/reviews/new" class="btn btn-primary ml-auto">New Review</a>
            </div>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-8 col-sm-10">
            {{#each reviews}}
                {{>review-card review=this}}
            {{/each}}
        </div>
    </div>
</div>
