<h1>Now Playing</h1>
<div class="row">
    {{#each movies as |movie|}}
        <div class="card">
            <div class="col-md-11 card-body">
                <h4 class="card-title">{{movie.title}}</h4>
                {{> genres genres=movie.genres}}
               	<img alt="{{movie.title}}" src="https://image.tmdb.org/t/p/w154{{movie.poster_path}}" title="{{movie.title}}">
               	<a href="/movies/{{movie.id}}" class="stretched-link"></a></a>
            </div>
        </div>
    {{/each}}
</div>
