<!-- views/reviews-show.handlebars -->

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h3>{{review.title}}</h3>
    <h6>{{review.movieTitle}}</h6>
    <p>
    	<b>{{review.rating}} / 5</b>
    	<br><br>
    	{{review.description}}
    </p>
    <p><a href="/reviews/{{review._id}}/edit">Edit</a></p>
    <p><form method="POST" action="/reviews/{{review._id}}?_method=DELETE">
        <button class="btn btn-primary" type="submit">Delete</button>
    </form></p>
  </div>
</div>
